@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background: #ffffff;
}

.AppContainer {
  margin-left: 80px;
  margin-top: 256px;
  margin-right: 406px;
  margin-bottom: 726px;
  position: relative;
}
